* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    background: #06141f;
    color: white;
}
.container{
    width: 100%;
    margin: auto;
}


.hero{

    padding: 20px;

    text-align: center;
}


.hero h1 {
    font-size: 70px;

    letter-spacing: 12px;
}

.hero p {

    font-size: 70px;

    letter-spacing: 5px;
    
}


.section-title {
    text-align: center;

    margin: 60px 0 25px;
}



.sectiom-title h2 {
    font-size: 32px;
    letter-spacing: 3px;
    margin-bottom: 8px;
}


.section-title p {
    color: #9bb5c7;
}


table {
    width: 100%;

    border-collapse: collapse;

    background: #0b2231;
}



th {
    background: #123c52;
    color: #8ee7ff;
    padding: 18px;
}


td{
    padding: 16px;
    border: 1px solid #285065;
    text-align: center;
}



img {
    width: 100%;
    margin: auto;
}



.main-image {
    width: 100%;
    height: 330px;
    /*object-fit: cover; */
}



.room-image {
    width: 100%;
    height: 290px;
}



.gold {
    color: #f5c76b;
}

.green {
    color: #69e6a5;
}

.red {
    color: #ff7272;
}


/*===========================Ship overview========================*/





.ship-name {
    font-size: 28px;
    color: #f5c76b;
}


.value {
    font-size: 20px;
    color:  #8ee7ff;
}

/*===========route===============*/



.route-table th {
    background:  #174a60;

}





/*========================Deck===============*/




/*=========================cabin================*/


.nested-table {
    width: 100%;
    margin-top: 10px;
    background:  #061923;

}


.nested-table th {
    font-size: 13px;
    padding: 10px;
}


.nested-table td {
    font-size: 13px;
    padding: 10px;
}





.experience-table h3 {
    color: #f5c76b;
}




.offer {
    background: #173d31;
    color: #69e6a5;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}





footer {
    margin-top: 70px;
    padding: 40px;
    text-align: center;
    background:  #030c13;
    color: #8fa8b5;
}




footer p 
{
    margin-top: 10px;
    font-size: 20px;
}